body{
    background: rgb(29, 29, 28);
    padding: 0.25vh;
}

#loadOverlay{
    position: fixed;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0f0f0f;
    z-index: 1;
}

#overlayText{

    position: relative;
    font-family: 'Alegreya', serif;
    margin: 0 auto;
    margin: 0 auto;
    top: 5%;
    font-size: 80px;
    color: white;
}

#overlayBlurb{
    position: absolute;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Lato', sans-serif;
    left: 15%;
    right: 15%;
    /*top: 12vh; */
    top: 20vh;
    color: white;
    font-size: 20px;
}

#imgBanner{
    position: absolute;
    width: 100%;
    height: 30%;
    top: 50vh;
}

.imgBannerCol{
    
    float: left;
    width: 19.0%;
    height: 100%;
    
}

#basiliskB{
    top:35vh;
    width: 100%;
}
#dragonB{
    top:25vh;
    width: 100%;
}
#unicornB{
    top:25vh;
    width: 80%;
}
#phoenixB{
    top:0vh;
    width: 100%;
}
#hydrusB{
    top:25vh;
    width: 100%;
}


#buttonIntro{
    position: relative;
    font-family: 'Alegreya', serif;
    margin: 0 auto;
    top: 68vh;
    width: 300px;
    color: black;
    border: 5px solid black;
    /*
    padding: 16px 16px 0px 16px;
    top: 70vh;
    left: 50%;
    */
    font-size: 35px;
    transition-duration: 0.4s;
    border-radius: 10px;
    cursor: pointer;
}

#author{
    position: relative;
    font-family: 'Lato', sans-serif;
    top:70vh;
    color: white;
    font-size: 20px;
}

#buttonIntro:hover {
    background-color: #000000;
    border: 5px solid white;
    color: white;
  }

#englishScript{
    display: block;
}

#mandarinScript{
    display: none;
}

/* Modal Content About the Bestiary (AB)*/
.modalAB{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content About the Bestiary*/
.modal-contentAB {
    background-color: #707070;
    background-image: url("https://www.transparenttextures.com/patterns/textured-paper.png");
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: black;
    text-align: justify;
    margin: auto;
    padding: 15px;
    border: 5px solid black;
    border-radius: 5px;
    width: 60%;
    max-height: calc(100vh - 30vh);
    overflow-y: auto;
}

.modalContentABTitle{
    font-family: 'Alegreya', serif;
    font-size: 35px;
}

img.bestiaryIMG{
    position: relative;
    width: 50%;
    display:block;
    margin:auto;
}


.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 20vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content For Instructions*/
.modal-content {
    background-color: #fefefe;
    /*font-family: 'Lato', sans-serif;*/
    margin: auto;
    padding: 15px;
    border: 5px solid black;
    border-radius: 5px;
    width: 60%;
}

/* Modal Content For Congratulations Text*/
.modal-contentCon {
    background-color: #fefefe;
    /*font-family: 'Lato', sans-serif;*/
    margin: auto;
    padding: 15px;
    border: 5px solid black;
    border-radius: 5px;
    width: 60%;
}

#instructionsHead{
    font-family: 'Alegreya', serif;
    font-size: 35px;
}

#instructionsBody{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#congratulationsHead{
    font-family: 'Alegreya', serif;
    font-size: 35px;
}

#congratulationsBody{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

/* Modal Content Unicorn*/
.modalU{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content Unicorn*/
.modal-contentU {
    background-color: #fefefe;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    margin: auto;
    padding: 15px;
    border: 5px solid black;
    border-radius: 5px;
    width: 60%;
    max-height: calc(100vh - 30vh);
    overflow-y: auto;
}

/* Modal Content Dragon*/
.modalD{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content Dragon*/
.modal-contentD {
    background-color: #fefefe;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    margin: auto;
    padding: 15px;
    border: 5px solid black;
    border-radius: 5px;
    width: 60%;
    max-height: calc(100vh - 30vh);
    overflow-y: auto;
}

/*MODAL Content Phoenix*/
.modalP{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content Phoenix */
.modal-contentP {
    background-color: #fefefe;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    margin: auto;
    padding: 15px;
    border: 5px solid black;
    border-radius: 5px;
    width: 60%;
    max-height: calc(100vh - 30vh);
    overflow-y: auto;
}

/*MODAL Content Hydrus*/
.modalH{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content Hydrus */
.modal-contentH {
    background-color: #fefefe;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    margin: auto;
    padding: 15px;
    border: 5px solid black;
    border-radius: 5px;
    width: 60%;
    max-height: calc(100vh - 30vh);
    overflow-y: auto;
}


/*MODAL Content Basilisk*/
.modalB{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content Basilisk */
.modal-contentB {
    background-color: #fefefe;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    margin: auto;
    padding: 15px;
    border: 5px solid black;
    border-radius: 5px;
    width: 60%;
    max-height: calc(100vh - 30vh);
    overflow-y: auto;
}

.modalHead{
    font-family: 'Alegreya', serif;
    padding: 1vh;
    font-size: 30px;
}

.modalImgAnimal{
    float: left;
    width: 50%;
}

.modalTextAnimal{
    float: right;
    padding: 2vh;
    width: 45%;
}




/*MODAL Content Crocodile*/
.modalC{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content Crocodile */
.modal-contentC {
    background-color: #fefefe;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    margin: auto;
    padding: 15px;
    border: 5px solid black;
    border-radius: 5px;
    width: 75%;
    max-height: calc(100vh - 30vh);
    overflow-y: auto;
}

/*MODAL Content Weasel*/
.modalW{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content Weasel */
.modal-contentW {
    background-color: #fefefe;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    margin: auto;
    padding: 15px;
    border: 5px solid black;
    border-radius: 5px;
    width: 75%;
    max-height: calc(100vh - 30vh);
    overflow-y: auto;
}

/*MODAL Content Panther*/
.modalPth{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content Panther */
.modal-contentPth {
    background-color: #fefefe;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    margin: auto;
    padding: 15px;
    border: 5px solid black;
    border-radius: 5px;
    width: 75%;
    max-height: calc(100vh - 30vh);
    overflow-y: auto;
}

/*MODAL Content Ostrich*/
.modalO{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content Ostrich */
.modal-contentO {
    background-color: #fefefe;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    margin: auto;
    padding: 15px;
    border: 5px solid black;
    border-radius: 5px;
    width: 75%;
    max-height: calc(100vh - 30vh);
    overflow-y: auto;
}

/*MODAL Content Elephant*/
.modalE{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content Elephant */
.modal-contentE {
    background-color: #fefefe;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    margin: auto;
    padding: 15px;
    border: 5px solid black;
    border-radius: 5px;
    width: 75%;
    max-height: calc(100vh - 30vh);
    overflow-y: auto;
}





/* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.container{
    padding: 0vh;
    margin-left: auto;
    margin-right: auto;
   
}

.title {  
    font-family: 'Alegreya', serif;
    color: white;
    background-color: rgb(29, 29, 28);
   
    height: 20vh;
    text-align: center;
}  

#bestiaryButton{
    position: relative;
    font-family: 'Alegreya', serif;
    margin: 0 auto;
    color: black;
    background-color: #755c3d;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    border: 4px solid rgb(125, 32, 11);
    font-size: 24px;
    transition-duration: 0.4s;
    border-radius: 5px;
    cursor: pointer;
}

#bestiaryButton:hover {
    background-color: #000000;
    border: 5px solid white;
    color: white;
  }


.subtitle { 
    font-family: 'Alegreya', serif; 
    font-size: 25px;
    color: white;
    background-color: burlywood;
    height: 4vh;
    text-align: center;
}  


.content{
    height: 56vh;
    font-family: 'Lato', sans-serif;
    padding: 2vh 1vh;
    background-color: rgb(29, 29, 28);
}

#pathway{
    position: relative;
    float: left;
    font-family: 'Lato', sans-serif;
    padding: 1vh;
    width: 18%;
    color: white;
    font-size: 20px;
    height: 54vh;
}

#crocodileEnc{
    position: absolute;
    top: 15%;
    height: 25%;
    width: 95%;
}

#crocodileEncT{
    position: absolute;
    right: 25%;
    width: 80%;
    top:-70%;
}

#crocodileEncT:hover{
    -webkit-transition: all 0.05s linear;
    transition: all 0.05s linear;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

#weaselEnc{
    position: absolute;
    top: 35%;
    height: 25%;
    width: 95%;
}

#weaselEncT{
    position: absolute;
    left: 35%;
    width: 70%;
    top:-80%;
}

#weaselEncT:hover{
    -webkit-transition: all 0.05s linear;
    transition: all 0.05s linear;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

#pantherEnc{
    position: absolute;
    height: 25%;
    top: 55%;
    width: 95%;
}

#pantherEncT{
    position: absolute;
    right: 35%;
    width: 70%;
    top:-80%;
}

#pantherEncT:hover{
    -webkit-transition: all 0.05s linear;
    transition: all 0.05s linear;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

#ostrichEnc{
    position: absolute;
    height: 25%;
    top: 75%;
    width: 95%;
}

#ostrichEncT{
    position: absolute;
    left: 50%;
    width: 50%;
    top:-80%;
}

#ostrichEncT:hover{
    -webkit-transition: all 0.05s linear;
    transition: all 0.05s linear;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

#elephantEnc{
    position: absolute;
    top: 85%;
    height: 25%;
    width: 95%;
}

#elephantEncT{
    position: absolute;
    right: 45%;
    width: 60%;
    top:-65%;
}

#elephantEncT:hover{
    -webkit-transition: all 0.05s linear;
    transition: all 0.05s linear;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

.paraTitle{
    font-family: 'Alegreya', serif;
    font-size: 45px;
}

audio{
    width: 250px;
}

.narrAudioPos{
    float: right;
    padding: 5px;
}



.pathwaySec{
    font-family: 'Alegreya', serif;
    font-size: 25px;
}

#bodytext{
    float: left;
    font-size:18px;
    width: 56%;
    height: 56vh;
    overflow: auto;
    padding: 8px 8px 8px 8px;
    background-color: #707070;
    background-image: url("https://www.transparenttextures.com/patterns/textured-paper.png");
    /*background-color: rgb(224, 224, 224);  */
    border-radius: 15px;
    border: solid 5px rgb(0, 0, 0);
}

.animalPopup{
    position: relative;
    width: 65%;
    display:block;
    margin:auto; 
}

.grottoPic{
    position: relative;
    width: 65%;
    display:block;
    margin:auto;
}



.videoEmbed{
    margin-left: auto;
    margin-right: auto;
    display: block;
}



#inventory{
    position: relative;
    float: right;
    padding: 1vh;
    height: 54vh;
    width: 18%;
    /* border: solid blueviolet;   */
}

.inventoryText{
    font-family: 'Alegreya', serif;
    color: white;
    font-size: 25px;
}

#basiliskInv{
    position: absolute;
    height: 25%;
    width: 95%;
}
#basiliskInvB{
    position: absolute;
    right: 40%;
    width: 80%;
    top:-50%;
}

#basiliskInvT{
    position: absolute;
    right: 40%;
    width: 80%;
    top:-50%;
}

#basiliskInvT:hover{
    -webkit-transition: all 0.05s linear;
    transition: all 0.05s linear;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}


.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 700ms;
  }
  .m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 700ms;
  }

/*
#basiliskInv img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

#basiliskInv img.transparent {
    opacity:0;
}
*/


/*DRAGON POPUP BEGINNING*/
#fadeD {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .93;
    filter: alpha(opacity=80);
  }
  
  #lightD {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }

  /*DRAGON POPUP END*/
#fadeDEndV {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .93;
    filter: alpha(opacity=80);
  }
  
  #lightDEndV {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }

  /*UNICORN POPUP BEGINNING*/
#fadeU {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .93;
    filter: alpha(opacity=80);
  }
  
  #lightU {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }

    /*UNICORN POPUP END*/
#fadeUEndV {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .93;
    filter: alpha(opacity=80);
  }
  
  #lightUEndV {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }

  
  /*HYDRUS POPUP BEGINNING*/
#fadeH {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .93;
    filter: alpha(opacity=80);
  }
  
  #lightH {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }

  /*HYDRUS POPUP END*/
  #fadeHEndV {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .93;
    filter: alpha(opacity=80);
  }
  
  #lightHEndV {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }

   /*BASILISK POPUP BEGINNING*/
#fadeB {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .93;
    filter: alpha(opacity=80);
  }
  
  #lightB {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }

    /*BASILISK POPUP END*/
    #fadeBEndV {
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1001;
        -moz-opacity: 0.8;
        opacity: .93;
        filter: alpha(opacity=80);
      }
      
      #lightBEndV {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 600px;
        max-height: 360px;
        margin-left: -300px;
        margin-top: -180px;
        border: 2px solid #FFF;
        background: #FFF;
        z-index: 1002;
        overflow: visible;
      }

     /*PHOENIX POPUP BEGINNING*/
#fadeP {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .93;
    filter: alpha(opacity=80);
  }
  
  #lightP {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }

      /*PHOENIX POPUP END*/
      #fadePEndV {
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1001;
        -moz-opacity: 0.8;
        opacity: .93;
        filter: alpha(opacity=80);
      }
      
      #lightPEndV {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 600px;
        max-height: 360px;
        margin-left: -300px;
        margin-top: -180px;
        border: 2px solid #FFF;
        background: #FFF;
        z-index: 1002;
        overflow: visible;
      }
  
  
  
  #boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
  }
  
  .boxclose:before {
    content: "×";
  }
  
  #fade:hover ~ #boxclose {
    display:none;
  }

  /*DRAGON POPUP END*/

#dragonInv{
    position: absolute;
    top: 15%;
    height: 25%;
    width: 95%;
}
#dragonInvB{
    position: absolute;
    left: 35%;
    width: 80%;
    top:-50%;
}
#dragonInvT{
    position: absolute;
    left: 35%;
    width: 80%;
    top:-50%;
}

#dragonInvT:hover{
    -webkit-transition: all 0.05s linear;
    transition: all 0.05s linear;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

#phoenixInv{
    position: absolute;
    top: 35%;
    height: 25%;
    width: 95%;
}

#phoenixInvB{
    position: absolute;
    right: 45%;
    width: 55%;
    top:-20%;
}

#phoenixInvT{
    position: absolute;
    right: 45%;
    width: 55%;
    top:-20%;
}

#phoenixInvT:hover{
    -webkit-transition: all 0.05s linear;
    transition: all 0.05s linear;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

#hydrusInv{
    position: absolute;
    top: 55%;
    height: 25%;
    width: 95%;
}

#hydrusInvB{
    position: absolute;
    left: 40%;
    width: 80%;
    top:-50%;
}

#hydrusInvT{
    position: absolute;
    left: 40%;
    width: 80%;
    top:-50%;
}

#hydrusInvT:hover{
    -webkit-transition: all 0.05s linear;
    transition: all 0.05s linear;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

#unicornInv{
    position: absolute;
    top: 75%;
    height: 25%;
    width: 95%;
}

#unicornInvB{
    position: absolute;
    right: 40%;
    width: 60%;
    top:-50%;
}
#unicornInvT{
    position: absolute;
    right: 40%;
    width: 60%;
    top:-50%;
}

#unicornInvT:hover{
    -webkit-transition: all 0.05s linear;
    transition: all 0.05s linear;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

/*English Text Display*/
.prologue{display: block;}

/*Unicorn display*/
.U1{display: none;}
.U2a{display:none;}
.U2b{display:none;}
.U2c{display:none;}
.U3aa{display:none;}
.U3ab{display:none;}
.U3ac{display:none;}
.U3ba{display:none;}
.U3bb{display:none;}
.U3bc{display:none;}
.U4aba{display:none;}
.U4abb{display:none;}
.U4abc{display:none;}
.U4baa{display:none;}
.U4bab{display:none;}
.U4bba{display:none;}
.U4bbb{display:none;}
.U4bbc{display:none;}
.U4aca{display:none;}
.U4acb{display:none;}
.U5baba{display:none;}
.U5babb{display:none;}
.U5babc{display:none;}
.U5abba{display:none;}
.U5abbb{display:none;}
.U5abbc{display:none;}
.U5acba{display:none;}
.U5acbb{display:none;}
.U6babca{display:none;}
.U6babcb{display:none;}
.U6babcc{display:none;}
.U6acbba{display:none;}
.U6acbbb{display:none;}
.U6acbbc{display:none;}
.unicornEnd{display:none;}

/*Dragon display*/
.D1{display:none;}
.D2a{display:none;}
.D2b{display:none;}
.D2c{display:none;}
.D3aa{display:none;}
.D3ab{display:none;}
.D3ba{display:none;}
.D3bb{display:none;}
.D3ac{display:none;}
.D3ca{display:none;}
.D3cb{display:none;}
.D3cc{display:none;}
.D4aba{display:none;}
.D4abb{display:none;}
.D4abc{display:none;}
.D4acb{display:none;}
.D4bba{display:none;}
.D4bbb{display:none;}
.D4cba{display:none;}
.D4cbb{display:none;}
.D4cca{display:none;}
.D4ccb{display:none;}
.D5acba{display:none;}
.D5ccba{display:none;}
.D5ccbb{display:none;}
.D6acbaa{display:none;}
.D6ccbaa{display:none;}
.D6ccbab{display:none;}
.D6ccbac{display:none;}
.D6acbab{display:none;}
.D7acbaba{display:none;}
.D7acbabb{display:none;}
.D7ccbaca{display:none;}
.D7ccbacb{display:none;}
.dragonEnd{display:none;}


/*Phoenix Buttons*/
.P1{display:none;}
.P2a{display:none;}
.P2b{display:none;}
.P3ba{display:none;}
.P3bb{display:none;}
.P3bc{display:none;}
.P3aa{display:none;}
.P3ab{display:none;}
.P3ac{display:none;}
.P3bc{display:none;}
.continueText{display:none;}
.P4ba{display:none;}
.P4aca{display:none;}
.P4acb{display:none;}
.P5acca{display:none;}
.P5accb{display:none;}
.P5accc{display:none;}
.endPhoenix{display:none;}
.win{display: none;}
.lose{display: none;}

/*HYDRUS DISPLAY*/
.H1{display:none;}
.H2a{display:none;}
.H2b{display:none;}
.H3aa{display:none;}
.H3ab{display:none;}
.H3ac{display:none;}
.H4aaa{display:none;}
.H4aab{display:none;}
.H4aac{display:none;}

/*BASILISK DISPLAY*/
.B1{display: none;}
.B2a{display: none;}
.B2b{display: none;}
.B2c{display: none;}
.B3aa{display: none;}
.B3ab{display: none;}
.B3ba{display: none;}
.B3bb{display: none;}
.B3ca{display: none;}
.B3cb{display: none;}
.B4aba{display: none;}
.B4abb{display: none;}
.B4cba{display: none;}
.B4cbb{display: none;}
.B5abba{display: none;}
.B5abbb{display: none;}
.B5cbba{display: none;}
.B5cbbb{display: none;}
.endB{display: none;}

/*-------------------------------------------------------------------------*/
/*--------------------- Mandarin Text Display -----------------------------*/
/*-------------------------------------------------------------------------*/
.prologueM{display:block;}
.pa1M{display: none;}
.pa2M{display: none;}
.pa3M{display: none;}




/*ENGLISH SCRIPT NAVIGATION BANNER*/
#navigation{
    clear: both;
    text-align: center;
    vertical-align: middle;
    padding: 0vh 0vh 0vh 0vh;
    height: 6vh;

}

#navigationC{
    clear: both;
    text-align: center;
    vertical-align: middle;
    padding: 0vh 0vh 0vh 0vh;
    height: 6vh;
}

.P4ba{display: none;}

.endGame{display: none;}

#navigationButton{
    position: relative;
    font-family: 'Alegreya', serif;
    margin: 0 auto;
    /*top: 30vh;
    width: 300px;
    */
    color: black;
    border: 3px solid black;
    /*
    padding: 16px 16px 0px 16px;
    top: 70vh;
    left: 50%;
    */
    font-size: 18px;
    transition-duration: 0.4s;
    border-radius: 5px;
    cursor: pointer;
}

#navigationButton:hover {
    background-color: #000000;
    border: 5px solid white;
    color: white;
  }

/*MANDARIN SCRIPT NAVIGATION BANNER*/
#navigationM{
    clear: both;
    text-align: center;
    padding: 1vh;
    border: solid brown;
}


/*---- SCORE UPDATE BAR ------*/
#score{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: rgb(226, 226, 226);
    clear: both;
    height: 3.0vh;
    padding: 1vh;
}

/*DRAGON PROGRESS TRACKER*/
#myProgressD {
    display:none;
    width: 100%;
    background-color: black;
    border-radius: 50px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}
#myBarD {
    width: 0%;
    height: 30px;
    background:
    -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
    -webkit-linear-gradient(left, rgb(125, 32, 11), rgb(125, 32, 11));
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    color: white;
  }

/*UNICORN PROGRESS TRACKER*/
#myProgressU {
    display: none;
    width: 100%;
    background-color: black;
    border-radius: 50px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}
#myBarU {
    width: 0%;
    height: 30px;
    background:
    -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
    -webkit-linear-gradient(left, rgb(125, 32, 11), rgb(125, 32, 11));
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    color: white;
  }

/*PHOENIX PROGRESS TRACKER*/
#myProgressP {
    display: none;
    width: 100%;
    background-color: black;
    border-radius: 50px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}
#myBarP {
    width: 0%;
    height: 30px;
    background:
    -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
    -webkit-linear-gradient(left, rgb(125, 32, 11), rgb(125, 32, 11));
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    color: white;
  }

/*HYDRUS PROGRESS TRACKER*/
#myProgressH {
    display: none;
    width: 100%;
    background-color: black;
    border-radius: 50px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}
#myBarH {
    width: 0%;
    height: 30px;
    background:
    -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
    -webkit-linear-gradient(left, rgb(125, 32, 11), rgb(125, 32, 11));
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    color: white;
  }

/*BASILIAK PROGRESS TRACKER*/
#myProgressB {
    display: none;
    width: 100%;
    background-color: black;
    border-radius: 50px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}
#myBarB {
    width: 0%;
    height: 30px;
    background:
    -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
    -webkit-linear-gradient(left, rgb(125, 32, 11), rgb(125, 32, 11));
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    color: white;
  }









#footer{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    clear: both;
    color: rgb(250, 250, 250);
    padding: 1.0vh;
    height: 3.5vh;
}
